<main class="main" role="main">
	<div class="container-fruid mb-3">
		<div class="d-flex wrapper">
			<!-- Sidebar -->
			<div class="bg-light border-right" id="sidebar-wrapper">
				<div class="list-group list-group-flush">
					<!-- Bao gồm việc sửa thông tin cá nhân -->
					<a href="/accountManagement" class="list-group-item list-group-item-action bg-light">
						Xem thông tin cá nhân
					</a>
					<a href="/yourPointAndDetail" class="list-group-item list-group-item-action bg-light">
						Xem điểm đánh giá và chi tiết
					</a>	
					
					<a class="list-group-item list-group-item-action bg-light flex-column align-items-start"
						href="#submenu-watch" id="navbarDropdown" data-toggle="collapse" aria-haspopup="true" aria-expanded="false">
						Xem danh sách
						<i class="fa fa-caret-down" style="float: right;" aria-hidden="true"></i>
					</a>
							
					<!-- Submenu của Xem danh sách -->
					<div id="submenu-watch" class="collapse sidebar-submenu">
						<a href="/lists/acc/watch" class="list-group-item list-group-item-action bg-light">
							<span class="menu-collapsed">Sản phẩm yêu thích</span>
						</a>
						<a href="/lists/acc/ongoing" class="list-group-item list-group-item-action bg-light">
							<span class="menu-collapsed">Sản phẩm đang đấu giá</span>
						</a>
						<a href="/lists/acc/won" class="list-group-item list-group-item-action bg-light">
							<span class="menu-collapsed">Sản phẩm đã thắng đấu giá</span>
						</a>
						<a href="/lists/acc/upload" class="list-group-item list-group-item-action bg-light">
							<span class="menu-collapsed">Sản phẩm đang đăng đấu giá</span>
						</a>
						<a href="/lists/acc/sold" class="list-group-item list-group-item-action bg-light">
							<span class="menu-collapsed">Sản phẩm có người thắng đấu giá</span>
						</a>
					</div>
							
					<a class="list-group-item list-group-item-action bg-light flex-column align-items-start"
						href="#submenu-user" id="navbarDropdown" data-toggle="collapse" aria-haspopup="true" aria-expanded="false">
						Quản lý người dùng
						<i class="fa fa-caret-down" style="float: right;" aria-hidden="true"></i>
					</a>
							
					<!-- Submenu của Quản lý người dùng -->
					<div id="submenu-user" class="collapse sidebar-submenu">
						<a href="/userView" class="list-group-item list-group-item-action bg-light">
							<!-- Bao gồm việc xóa người dùng, nâng cấp bidder, hạ cấp seller-->
							<span class="menu-collapsed">Xem danh sách toàn bộ người dùng</span>
						</a>
						<a href="/bidderList" class="list-group-item list-group-item-action bg-light">
							<span class="menu-collapsed">Xem danh sách bidder xin nâng cấp tài khoản</span>
						</a>
					</div>
					
					<a class="list-group-item list-group-item-action bg-light flex-column align-items-start"
						href="#submenu-category" id="navbarDropdown" data-toggle="collapse" aria-haspopup="true" aria-expanded="false">
						Quản lý danh mục
						<i class="fa fa-caret-down" style="float: right;" aria-hidden="true"></i>
					</a>
					
					<!-- Submenu của Quản lý danh mục -->
					<div id="submenu-category" class="collapse sidebar-submenu">
						<a href="/categoryLv1" class="list-group-item list-group-item-action bg-light">
							<!-- Bao gồm việc xóa người dùng, nâng cấp bidder, hạ cấp seller-->
							<span class="menu-collapsed">Quản lý danh mục cha</span>
						</a>
						<a href="/categoryLv2" class="list-group-item list-group-item-action bg-light">
							<span class="menu-collapsed">Quản lý danh mục con</span>
						</a>
					</div>
					
					<!-- Đăng sản phẩm -->
					<a href="/postProduct" class="list-group-item list-group-item-action bg-light">
						Đăng sản phẩm đấu giá mới
					</a>
					<!-- Add more items here-->
				</div>
			</div>
			<!-- /#sidebar-wrapper -->
					
			<div class="text-center mt-3" id="page-content-wrapper">
				<h1>Danh mục con (Danh mục cấp 2)</h1>
						
				<form method="POST">
					<div class="card m-3">
						<h2 class="card-header">Danh sách</h2>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<label class="input-group-text" for="catLv1">Tên danh mục cha</label>
							</div>
							<select class="custom-select" id="catLv1" onchange="location.href = '/categoryLv2/' + this.selectedIndex;">
								<option id="option" value="-1">-----</option>
								{{#each this.catLv1}}
								<option id="option" value="{{ID}}" {{#if_eq ID ../catLv1ID}}selected{{/if_eq}}>{{TenLoai}}</option>
								{{/each}}
							</select>
						</div>
						<div class="card-body">
							<table name="myTable" id="myTable" class= "table table-hover text-left">
								<thead>
									<tr id="mainRow">
										<th style="width: 5%;" scope="col">ID</th>
										<th style="width: 50%;" scope="col">Tên danh mục</th>
										<th style="text-align: center; word-break: break-all; width: 25%;" scope="col">Số lượng sản phẩm</th>
										<th style="text-align: right; width: 5%;" scope="col">Sửa</th>
									</tr>
								</thead>
								{{#if this.empty}}{{else}}
								{{#each this.list}}
								<tr id="myRow">
									<th style="width: 5%;" scope="row">
										<input name="id[]" id="id" value="{{ID}}" style="border: none; width: 100%; font-weight: bold;" readonly>
									</th>
									<td style="width: 50%;">
										<input class="catName" name="catName[]" id="catName" value="{{TenLoai}}" style="border: none; width: 100%;" readonly>
									</td>
									<td style="text-align: center; word-break: break-all; width: 25%;">{{SoLuong}}</td>
									<td style="text-align: right; width: 5%;">
										<button class="btn btn-info" name="editButton" id="editButton" type="button" onclick="editButtonClick(this);">
											<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
										</button>
									</td>							
								</tr>
								{{/each}}
								{{/if}}
							</table>
						</div>
						
						{{#if this.isExist}}
						<div class="card-footer">
							<button class="btn btn-primary" name="addButton" id="addButton" type="button" onclick="addButtonClick();">
								Thêm danh mục mới
							</button>
						</div>
						{{/if}}
					</div>
				</form>
			</div>
		</div>
	</div>		
</main>