<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>

    <!-- CSS -->
    {{#each css}}
    <link rel="stylesheet" type="text/css" href="assets/css/{{this}}">
    {{/each}}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <header class="sticky-top">
        <div class="menu-area">
            <div class="container-fruid">
                <div class="row">
                    <nav class="navbar navbar-light navbar-expand-lg mainmenu">
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="active">
                                    <a class="navbar-brand" href="/">
                                        <i class="fa fa-gavel fa-lg" aria-hidden="true"></i>
                                        Sàn đấu giá trực tuyến
                                    </a>
                                </li>

                                <li>
                                    <a class="pl-2 pr-2" href="/">
                                        <i class="fa fa-home fa-lg" aria-hidden="true"></i>
                                        Trang chủ
                                    </a>
                                </li>

                                <li>
                                    <a class="pl-2 pr-3" href="/about">
                                        <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>
                                        Thông tin
                                    </a>
                                </li>

                                <li class="dropright">
                                    <a class="" href="Product list.html" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
                                        Menu
                                        <i class="fa fa-caret-down fa-lg" aria-hidden="true"></i>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        {{#each catLV1}}
                                            <li class="dropright">
                                                <a href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">
                                                    {{TenLoai}}
                                                    <i class="fa fa-caret-right" style="float: right;"
                                                        aria-hidden="true"></i>
                                                </a>
                                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                    {{#each ../catLV2}}
                                                        {{#if_eq ../ID IDLoaiCap1}}
                                                            <li><a href="/lists/category/{{ID}}"> {{TenLoai}} </a></li>
                                                        {{/if_eq}}
                                                    {{/each}}
                                                </ul>
                                            </li>
                                        {{/each}}   
                                    </ul>
                                </li>
                                <!-- Add more item here -->
                            </ul>
                            <form class="form-group col-md-3 mr-2 pl-3 mb-0" method="POST" action="/lists/search" novalidate="novalidate">
                                <input class="form-control" type="text" name="key" placeholder="Search">
                            </form>
                            {{#if isAuthenticated}}
                            <a class="btn btn-primary mr-2 pl-3" href="/accountManagement">
                                <i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i>
                                Chào! <b>{{authUser.TenTaiKhoan}}</b>
                            </a>
                            
                            <a class="btn btn-primary pl-3" method="POST" href="/logout">
                                <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>
                                Thoát
                            </a>
                            {{else}}
                            <a class="btn btn-primary mr-2 pl-3" id="navbarSignupButton" href="/login#sign-up">
                                <i class="fa fa-user-plus fa-lg" aria-hidden="true"></i>
                                Đăng ký
                            </a>
                            
                            <a class="btn btn-primary pl-3" href="/login">
                                <i class="fa fa-sign-in fa-lg" aria-hidden="true"></i>
                                Đăng nhập
                            </a>
                            {{/if}}

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    {{{body}}}

    <footer class="footer">
        <div class="text-white bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div id="about">
                            <h5>GIỚI THIỆU</h5>
                            <p>Đây là phần giới thiệu về trang web của chúng tôi, bao gồm:...</p>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                        <h5>Các loại dịch vụ thanh toán</h5>
                        <div>
                            <i class="fa fa-cc-visa fa-lg" aria-hidden="true"></i>
                            <i class="fa fa-cc-paypal fa-lg" aria-hidden="true"></i>
                            <i class="fa fa-cc-mastercard fa-lg" aria-hidden="true"></i>
                            <i class="fa fa-cc-discover fa-lg" aria-hidden="true"></i>
                            <i class="fa fa-cc-jcb fa-lg" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div>
                            <h5>Chào mừng đến với website của chúng tôi</h5>
                            <p>Bạn muốn tham gia vào các cuộc đấu giá thú vị, mua được sản phẩm giá rẻ</p>
                            <p>
                                Nếu bạn chưa có tài khoản<br>
                                <a class="btn btn-primary" href="Login.html#sign-up" target="_blank">
                                    <i class="fa fa-hand-o-right fa-lg" aria-hidden="true"></i>
                                    Đăng ký ngay bây giờ
                                </a>
                            </p>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div>
                            <h5>Thông tin liên hệ</h5>
                            <p>Mail: <a href="mailto:info@domain.com" title="glorythemes">info@domain.com</a></p>
                            <p>Tel: <a href="tel:0987654321">0987654321</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.dotdotdot/4.0.10/dotdotdot.js"></script>
    {{#each js}}
    <script type="text/javascript" src="assets/js/{{this}}"></script>
    {{/each}}

</html>