{{#section 'css'}}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/css/fileinput.min.css" media="all"
	rel="stylesheet" type="text/css" />
{{/section}}

{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/themes/fa/theme.min.js"></script>
<script>
	$('#fuMain').fileinput({
		theme: 'fa',
		showUpload: false,
		dropZoneEnabled: false,
		allowedFileExtensions: ['png', 'jpg', 'gif'],
	});
</script>
{{/section}}

<main class="main" role="main">
	<div class="container-fruid mb-3">
		<div class="d-flex wrapper">
			<!-- Sidebar -->
			<div class="bg-light border-right" id="sidebar-wrapper">
				<div class="list-group list-group-flush">
					<!-- Bao gồm việc sửa thông tin cá nhân -->
					<a href="/accountManagement" class="list-group-item list-group-item-action bg-light">
						Xem thông tin cá nhân
					</a>
					<a href="/yourPointAndDetail" class="list-group-item list-group-item-action bg-light">
						Xem điểm đánh giá và chi tiết
					</a>

					{{#each this.info}}
					<a class="list-group-item list-group-item-action bg-light flex-column align-items-start"
						href="#submenu-watch" id="navbarDropdown" data-toggle="collapse" aria-haspopup="true"
						aria-expanded="false">
						Xem danh sách
						<i class="fa fa-caret-down" style="float: right;" aria-hidden="true"></i>
					</a>

					<!-- Submenu của Xem danh sách -->
					<div id="submenu-watch" class="collapse sidebar-submenu">
						<a href="/lists/acc/watch" class="list-group-item list-group-item-action bg-light">
							<span class="menu-collapsed">Sản phẩm yêu thích</span>
						</a>
						<a href="/lists/acc/ongoing" class="list-group-item list-group-item-action bg-light">
							<span class="menu-collapsed">Sản phẩm đang đấu giá</span>
						</a>
						<a href="/lists/acc/won" class="list-group-item list-group-item-action bg-light">
							<span class="menu-collapsed">Sản phẩm đã thắng đấu giá</span>
						</a>
						{{#if this.isSeller}}
						<a href="/lists/acc/upload" class="list-group-item list-group-item-action bg-light">
							<span class="menu-collapsed">Sản phẩm đang đăng đấu giá</span>
						</a>
						<a href="/lists/acc/sold" class="list-group-item list-group-item-action bg-light">
							<span class="menu-collapsed">Sản phẩm có người thắng đấu giá</span>
						</a>
						{{/if}}
						{{#if this.isAdmin}}
						<a href="/lists/acc/upload" class="list-group-item list-group-item-action bg-light">
							<span class="menu-collapsed">Sản phẩm đang đăng đấu giá</span>
						</a>
						<a href="/lists/acc/sold" class="list-group-item list-group-item-action bg-light">
							<span class="menu-collapsed">Sản phẩm có người thắng đấu giá</span>
						</a>
						{{/if}}
					</div>

					{{#if this.isAdmin}}
					<a class="list-group-item list-group-item-action bg-light flex-column align-items-start"
						href="#submenu-user" id="navbarDropdown" data-toggle="collapse" aria-haspopup="true"
						aria-expanded="false">
						Quản lý người dùng
						<i class="fa fa-caret-down" style="float: right;" aria-hidden="true"></i>
					</a>

					<!-- Submenu của Quản lý người dùng -->
					<div id="submenu-user" class="collapse sidebar-submenu">
						<a href="/userView" class="list-group-item list-group-item-action bg-light">
							<!-- Bao gồm việc xóa người dùng, nâng cấp bidder, hạ cấp seller-->
							<span class="menu-collapsed">Xem danh sách toàn bộ người dùng</span>
						</a>
						<a href="/bidderList" class="list-group-item list-group-item-action bg-light">
							<span class="menu-collapsed">Xem danh sách bidder xin nâng cấp tài khoản</span>
						</a>
					</div>

					<a class="list-group-item list-group-item-action bg-light flex-column align-items-start"
						href="#submenu-category" id="navbarDropdown" data-toggle="collapse" aria-haspopup="true"
						aria-expanded="false">
						Quản lý danh mục
						<i class="fa fa-caret-down" style="float: right;" aria-hidden="true"></i>
					</a>

					<!-- Submenu của Quản lý danh mục -->
					<div id="submenu-category" class="collapse sidebar-submenu">
						<a href="/categoryLv1" class="list-group-item list-group-item-action bg-light">
							<!-- Bao gồm việc xóa người dùng, nâng cấp bidder, hạ cấp seller-->
							<span class="menu-collapsed">Quản lý danh mục cha</span>
						</a>
						<a href="/categoryLv2" class="list-group-item list-group-item-action bg-light">
							<span class="menu-collapsed">Quản lý danh mục con</span>
						</a>
					</div>
					{{/if}}

					<!-- Đăng sản phẩm -->
					{{#if this.isSeller}}
					<a href="/postProduct" class="list-group-item list-group-item-action bg-light">
						Đăng sản phẩm đấu giá mới
					</a>
					{{/if}}
					{{#if this.isAdmin}}
					<a href="/postProduct" class="list-group-item list-group-item-action bg-light">
						Đăng sản phẩm đấu giá mới
					</a>
					{{/if}}
					{{/each}}
					<!-- Add more items here-->
				</div>
			</div>
			<!-- /#sidebar-wrapper -->

			<div class="text-center mt-3" id="page-content-wrapper">
				<h1>Thông tin cá nhân</h1>
				<div>Thông tin cơ bản, như tên và ảnh của bạn, mà bạn sử dụng trên trang web của chúng tôi</div>

				<form action="/accountManagement/changeAvatar" method="POST" enctype="multipart/form-data">
					<div class="card m-3">
						<h2 class="card-header">Hồ sơ</h2>
						{{#if this.empty}}
						<div class="card-body">
							<p class="card-text">Không có dữ liệu.</p>
						</div>
						{{else}}
						<div class="card-body">
							{{!-- <d id="myTable" class="table"> --}}
							{{#each info}}
							<div class="form-group row">
								<label class="col-sm-3 text-right col-form-label">Ảnh đại diện: </label>
								<div class="col-sm-5 ml-4"><img height=200 width=200 style="border-radius: 50%;"
										src="{{AvatarURL}}" class="text-muted" alt="(Chưa có ảnh đại diện)"></div>
								<div class="col-sm-4">

								</div>
							</div>
							<div class="mt-3">
								<a href="#history" class="history_expand" data-toggle="collapse">Thay ảnh đại diện
									<i class="fa fa-angle-double-down"></i></a>
								<div name="history" id="history" class="collapse">
									<div name="" id="table" class="row mt-3">
										<div class="col-sm-3"></div>
										<div class="col-sm-8">
											<input id="fuMain" name="fuMain" type="file" required></input>
										</div>

									</div>
									<div class="row">
										<div class="col-sm-3"></div>
										<div class="col-sm-6 my-3">
											<button class="btn btn-outline-primary" type="submit">Cập
												nhật avatar</button>
										</div>
									</div>

								</div>
							</div>
							<div class="form-group row mt-3">
								<label class="col-sm-3 text-right col-form-label">Họ tên: </label>
								<div class="col-sm-8 text-left form-control">
									{{HoTen}}
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3  text-right col-form-label">Ngày sinh: </label>
								<div class="col-sm-8 text-left form-control">
									{{#if NgaySinh}}{{NgaySinh}}{{/if}}
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3  text-right col-form-label">Địa chỉ: </label>
								<div class="col-sm-8 text-left form-control">
									{{DiaChi}}
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3  text-right col-form-label">Email: </label>
								<div class="col-sm-8 text-left form-control">
									{{Email}}
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3  text-right col-form-label" for="tel">Điện thoại: </label>
								<div class="col-sm-8 text-left form-control" id="tel" name="tel">
									{{DienThoai}}
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3  text-right col-form-label" for="loai">Cấp bậc: </label>
								<div class="col-sm-8 text-left form-control" id="loai" name="loai">
									{{#if this.isBidder}}Bidder{{/if}}{{#if this.isSeller}}Seller{{/if}}{{#if this.isAdmin}}Admin{{/if}}
								</div>
							</div>
							{{/each}}
							{{!-- </table> --}}
						</div>

						<div class="card-footer">
							<a class="btn btn-primary" href="modify">
								Thay đổi thông tin
							</a>
							<a class="btn btn-primary" href="modifyPass">
								Thay đổi mật khẩu
							</a>
				</form>
							{{#each this.info}}
							{{#if this.isBidder}}
							<form action="/accountManagement" method="POST" onsubmit="return upgradeRequest();">
							<button class="btn btn-primary mt-2 mb-1" type="submit">
								Xin nâng cấp thành Seller
							</button>
							</form>

							{{/if}}
							{{/each}}
						</div>
						{{/if}}
					</div>
			</div>
		</div>
	</div>
</main>