<main class="main" role="main">
    <div class="container-fruid">
        <div class="d-flex wrapper">
            <div id="page-content-wrapper">
                <div class="text-center my-3">
                    <h2>5 sản phẩm gần kết thúc đấu giá</h2>
                    <div class="mx-auto my-auto">
                        <div id="myCarousel-1" class="carousel slide" data-ride="carousel" data-interval="5000">
                            <div class="carousel-inner" role="listbox">
                                {{#each nearlyExpired}}
                                {{#if @index}}
                                <div class="carousel-item">
                                    {{else}}
                                    <div class="carousel-item active">
                                        {{/if}}
                                        <div class="col-md-4">
                                            <div class="card card-body">
                                                <img class="img-fluid" src="{{MainImg}}">
                                                <h6>{{TenSanPham}}</h6>
                                                <p>Giá: {{formatMoney Gia}}</p>
                                                {{!-- <p class="countdown">Thời gian còn lại: {{formatDateTime NgayHetHan}}</p> --}}
                                                <p>Thời gian còn lại:   <p class="countdown">{{formatDateTime NgayHetHan}}</p> </p>
                                                <p>Số lần đấu giá: {{#if SoLanDuocDauGia}}
                                                    {{SoLanDuocDauGia}}
                                                    {{else}}
                                                    Chưa có lượt đấu giá nào
                                                    {{/if}} </p>
                                                <p><a class="btn btn-lg btn-primary" href="/productView/{{ID}}"
                                                        role="button">Xem
                                                        chi tiết</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                                <a class="left carousel-control-prev w-auto" href="#myCarousel-1" role="button"
                                    data-slide="prev">
                                    <i class="carousel-control-prev-icon fa fa-chevron-left fa-2x" style="color: black;"
                                        aria-hidden="true"></i>
                                </a>
                                <a class="right carousel-control-next w-auto" href="#myCarousel-1" role="button"
                                    data-slide="next">
                                    <i class="carousel-control-next-icon fa fa-chevron-right fa-2x"
                                        style="color: black;" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="text-center my-3">
                        <h2>5 sản phẩm có giá cao nhất</h2>
                        <div class="mx-auto my-auto">
                            <div id="myCarousel-2" class="carousel slide" data-ride="carousel" data-interval="5000">
                                <div class="carousel-inner" role="listbox">
                                    {{#each highestPrice}}
                                    {{#if @index}}
                                    <div class="carousel-item">
                                        {{else}}
                                        <div class="carousel-item active">
                                            {{/if}}
                                            <div class="col-md-4">
                                                <div class="card card-body">
                                                    <img class="img-fluid" src="{{MainImg}}">
                                                    <h6>{{TenSanPham}}</h6>
                                                    <p>Giá: {{formatMoney Gia}}</p>
                                                    <p>Thời gian còn lại:   <p class="countdown">{{formatDateTime NgayHetHan}}</p> </p>
                                                    <p>Số lần đấu giá: {{#if SoLanDuocDauGia}}
                                                        {{SoLanDuocDauGia}}
                                                        {{else}}
                                                        Chưa có lượt đấu giá nào
                                                        {{/if}} </p>
                                                    <p><a class="btn btn-lg btn-primary" href="/productView/{{ID}}"
                                                            role="button">Xem
                                                            chi tiết</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        {{/each}}
                                    </div>

                                    <a class="left carousel-control-prev w-auto" href="#myCarousel-2" role="button"
                                        data-slide="prev">
                                        <i class="carousel-control-prev-icon fa fa-chevron-left fa-2x"
                                            style="color: black;" aria-hidden="true"></i>
                                    </a>
                                    <a class="right carousel-control-next w-auto" href="#myCarousel-2" role="button"
                                        data-slide="next">
                                        <i class="carousel-control-next-icon fa fa-chevron-right fa-2x"
                                            style="color: black;" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="text-center my-3">
                            <h2>5 sản phẩm có nhiều lượt ra giá nhất</h2>
                            <div class="mx-auto my-auto">
                                <div id="myCarousel-3" class="carousel slide" data-ride="carousel" data-interval="5000">
                                    <div class="carousel-inner" role="listbox">
                                        {{#each highestBidTimes}}
                                        {{#if @index}}
                                        <div class="carousel-item">
                                            {{else}}
                                            <div class="carousel-item active">
                                                {{/if}}
                                                <div class="col-md-4">
                                                    <div class="card card-body">
                                                        <img class="img-fluid" src="{{MainImg}}">
                                                        <h6>{{TenSanPham}}</h6>
                                                        <p>Giá: {{formatMoney Gia}}</p>
                                                        {{!-- <p class="countdown">Thời gian còn lại: {{formatDateTime NgayHetHan}}</p> --}}
                                                        <p>Thời gian còn lại:   <p class="countdown">{{formatDateTime NgayHetHan}}</p> </p>
                                                        <p>Số lần đấu giá: {{#if SoLanDuocDauGia}}
                                                            {{SoLanDuocDauGia}}
                                                            {{else}}
                                                            Chưa có lượt đấu giá nào
                                                            {{/if}} </p>
                                                        <p><a class="btn btn-lg btn-primary" href="/productView/{{ID}}"
                                                                role="button">Xem
                                                                chi tiết</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                            {{/each}}
                                        </div>

                                        <a class="left carousel-control-prev w-auto" href="#myCarousel-3" role="button"
                                            data-slide="prev">
                                            <i class="carousel-control-prev-icon fa fa-chevron-left fa-2x"
                                                style="color: black;" aria-hidden="true"></i>
                                        </a>
                                        <a class="right carousel-control-next w-auto" href="#myCarousel-3" role="button"
                                            data-slide="next">
                                            <i class="carousel-control-next-icon fa fa-chevron-right fa-2x"
                                                style="color: black;" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</main>