{{#section 'css'}}
<meta http-equiv="cache-control" content="no-cache" />
{{/section}}
{{#section 'js'}}
<script>
    $(document).ready(function() {
        // force page reload, prevent caching
        if(!!window.performance && window.performance.navigation.type == 2)
        {
            window.location.reload();
        }   
    });

    function favorite(e) {
        $.ajax({
            type: 'POST',
            data: {isFavorite: e.value, IDSanPham: e.name },
            url: '/changeFav',
            dataType: 'text',
        });
        e.value = 1 - e.value;
    }
    function rating(e, id) {
        var id1 = id + "_up"
        var id2 = id + "_down"

        if (e.value == 1 && $(`#${id1}`).hasClass( "green-color" )){        // remove rating 1
            $(`#${id1}`).removeClass( "green-color" );
            value = 0;
        }
        else if (e.value == -1 && $(`#${id2}`).hasClass( "green-color" )){  // remove rating -1
            $(`#${id2}`).removeClass( "green-color" );
            value = 0;  
        }
        else if (e.value == 1){
            var box = prompt("Điểm +1. Nhận xét:")
            value = e.value
        }
        else{
            var box = prompt("Điểm -1. Nhận xét:")
             value = e.value
        }
        if (box != null || value == 0) {
            if (value == 1){                                         // change rating from 1->-1
                $(`#${id1}`).addClass( "green-color" );
                $(`#${id2}`).removeClass( "green-color" );
            } 
            else if (value == -1){
                $(`#${id1}`).removeClass( "green-color" );                  // change rating from -1->1
                $(`#${id2}`).addClass( "green-color" );     
            }


            $.ajax({
                type: 'POST',
                data: {DiemDanhGia: value, IDNguoiDuocDanhGia: e.name, IDSanPham: id, 
                        NhanXet: box},
                url: '/rating',
                dataType: 'text',
                timeout: 3000
            });
        }
    }
</script>
{{/section}}
<div class="row" id="body-row">
    <!--sidebar-->
    <div class="sidebar-container">
        <div class="sidebar-logo">
            Danh sách
        </div>
        <ul class="sidebar-navigation">
            <li class="header">Người mua</li>
            <li>
                <a href="watch"> Theo dõi </a>
            </li>
            <li>
                <a href="ongoing"> Đang đấu giá </a>
            </li>
            <li>
                <a href="won"> Đã thắng </a>
            </li>
            <li class="header">Người bán</li>
            <li>
                <a href="upload"> Đã đăng </a>
            </li>
            <li>
                <a href="sold"> Đã bán </a>
            </li>
        </ul>
    </div>
    <!--Content-->
    <div class="offset-left col-9 p-0">
        <!--Product-->
        <div class="container">
            <!-- Page Heading -->
            {{#if empty}}
            <h1 class="my-4">Danh sách trống</h1>
            {{else}}
            <h1 class="my-4">{{this.pageTitle}}</h1>
            <div class="row">
                {{#each this.products}}
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Shop card -->
                    <div class="card h-100">
                        {{#if isNew}}
                        <div class="ribbon-wrapper">
                            <div class="ribbon">NEW</div>
                        </div>
                        {{/if}}
                        <div class="img-wrap">
                            {{#if ../isAuthenticated}}
                            <button class="asText bookmark" name="{{ID}}" value="{{isFavorite}}" onclick="favorite(this);">
                                <i class="fa fa-bookmark fa-lg align-top {{#if isFavorite}}green-color{{/if}}" aria-hidden="true"></i></button>
                            {{/if}}  
                            <a href="/productView/{{ID}}"><img class="img-fluid mx-auto d-block"
                                src="{{MainImg}}" alt=""></a>
                        </div>
                        <div class="card-body d-flex flex-column justify-content-between">
                            <h4 class="card-title align-self-center ellipsis">
                                <a href="/productView/{{ID}}">{{TenSanPham}}</a>
                            </h4>
                            <div>
                                <span>Mua ngay:</span>
                            </div>
                            <div class="align-self-end">
                                <span>  
                                    {{#if_eq GiaMuaNgay null}}
                                    NONE
                                    {{else}}
                                    {{formatMoney GiaMuaNgay}}
                                    {{/if_eq}}
                                </span>
                            </div>
                            <div>
                                <span>Giá hiện tại: </span>
                            </div>
                            <div class="align-self-end">
                                <span class="font-weight-bold">
                                    {{#if_eq Gia null}}
                                    {{formatMoney GiaBanDau}}
                                    {{else}}
                                    {{formatMoney Gia}} 
                                    {{/if_eq}}
                                </span>
                            </div>
                            {{#if TenTaiKhoan}}
                            <span class="maskHalf d-flex justify-content-end hidden {{#if_eq IDNguoiDauGia ../authUser.ID}}green-color{{/if_eq}}">{{TenTaiKhoan}}</span>
                            {{else}}
                            <span class="d-flex justify-content-end">Giá khởi điểm</span>
                            {{/if}}
                            <h4 class="my-auto align-self-center text-center hidden countdown">{{NgayHetHan}}</h3>
                            {{#if ../rateable}}
                            <div class="d-flex justify-content-center">
                                <button class="asText" {{#if_eq ../pageTitle "Đã thắng"}}name="{{IDNguoiBan}}"{{/if_eq}}
                                                       {{#if_eq ../pageTitle "Đã bán"}}name="{{IDNguoiThangDauGia}}"{{/if_eq}}
                                                        value="1" onclick="rating(this, {{ID}});">
                                    <i id="{{ID}}_up" class="fa fa-thumbs-up mx-2 {{#if_eq DiemDanhGia 1}}green-color{{/if_eq}}"></i>
                                </button>
                                <button class="asText" {{#if_eq ../pageTitle "Đã thắng"}}name="{{IDNguoiBan}}"{{/if_eq}}
                                                       {{#if_eq ../pageTitle "Đã bán"}}name="{{IDNguoiThangDauGia}}"{{/if_eq}}
                                                        value="-1" onclick="rating(this, {{ID}});">
                                    <i id="{{ID}}_down" class="fa fa-thumbs-down mx-2 {{#if_eq DiemDanhGia -1}}green-color{{/if_eq}}"></i>
                                </button>
                            </div>
                            {{/if}}
                        
                            <div class="d-flex justify-content-between small">
                                <span> 
                                    {{#if SoLanDuocDauGia}}
                                    {{SoLanDuocDauGia}} 
                                    {{else}}0{{/if}}
                                    Lượt</span>
                                <span>{{formatDate NgayDang}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/if}}
            <!-- /.row -->

            <!-- Pagination -->
            {{#if maxPages}}
            <ul class="pagination justify-content-center">
                <li class="page-item {{#if_eq page 1}}disabled{{/if_eq}}">
                    <a class="page-link" href="?page={{prev_value}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                {{#each page_numbers}}
                    {{#if_eq value ../page}}
                    <li class="page-item active" aria-current="page">
                    <a class="page-link" href="javascript:;">{{value}} <span class="sr-only">(current)</span></a>
                    </li>
                    {{else}}
                    <li class="page-item">
                    <a class="page-link" href="?page={{value}}">{{value}}</a>
                    </li>
                    {{/if_eq}}
                {{/each}}
                <li class="page-item {{#if_eq page maxPages}}disabled{{/if_eq}}">
                    <a class="page-link" href="?page={{next_value}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
            {{/if}}
        </div>
    </div>
</div>