<div class="main" role="main">
    <div id="page-content-wrapper">
        <div class="container pt-3">
            <div>
                <div class="float-left w-65" style="color: royalblue;">
                    Danh mục: {{details.LOAI1}} <i class="fa fa-hand-o-right mx-2" aria-hidden="true"></i>
                    {{details.LOAI2}}
                    <i class="fa fa-hand-o-right mx-2" aria-hidden="true"></i>
                    {{details.TENSANPHAM}}
                </div>
                {{#if isAdmin}}
                <form method="POST" action="/productView/removeProduct/{{details.ID}}"
                    onsubmit="javascript: return confirm('Bạn chắc chắn muốn xóa sản phẩm này');">
                    <button class="btn btn-outline-danger float-right w-35 mx-2" type="submit">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        Xóa sản phẩm
                    </button></form>
                {{/if}}
                {{#if (isDefinedVal userId)}}
                <button
                    class="btn {{#if isFav}} btn-warning {{else}} btn-outline-warning {{/if}} addToFav float-right w-35"
                    name="{{details.ID}}" value="{{isFav}}" onclick="mySubmit(this);">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                    Thêm vào Watch List
                </button>
                <script>
                    function mySubmit(e) {
                        $.ajax({
                            type: 'POST',
                            data: { isFavorite: e.value, IDSanPham: e.name },
                            url: '/changeFav',
                            dataType: 'text',
                        });
                        e.value = 1 - e.value;
                    }
                </script>
                {{/if}}
                <div class="clearfix"></div>
            </div>
            {{#if errMsg}}
            <div role="alert" class="alert alert-warning alert-dismissible fade show mt-3">
                <button class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{#each errMsg}}
                {{this}}
                <br>
                {{/each}}
            </div>
            {{/if}}
            <div class="card" style="border: none;">
                <div class="row mt-3">
                    <div class="left" style="width: 35%;">
                        <img style="display: block;" class="shadow ml-auto mr-md-auto rounded-lg" src={{image.0.imgurl}}
                            name="main_window" id="main_window" height=300 width=300 />
                        <div class="row gallery justify-content-center mt-2">
                            {{#each this.image}}
                            <div>
                                <img class="dotted_grey m-1" id={{@index}} src={{imgurl}} height="100" width="100"
                                    onmouseover="show(this.id)" />
                            </div>
                            {{/each}}
                        </div>
                    </div>

                    <div class="right p-4 shadow-lg" style="width: 65%;" id="product_detail">
                        <h3 class="" style="color: royalblue;">{{details.TENSANPHAM}}</h3>
                        {{#if (isPast details.NGAYHETHAN)}}
                        <h4 class="text-danger">(Đã hết hạn đấu giá)</h4>
                        {{else}}
                        {{#if (isDefinedVal details.ID_NG_THANG)}}
                        <h4 class="text-danger">(Đã có người thắng đấu giá)</h4>
                        {{/if}}
                        {{/if}}

                        <div class="row my-4">
                            <div class="col-md-4 text-right">
                                Giá hiện tại (VNĐ):
                            </div>
                            <div class="text-left col-md-8" style="color:tomato;" id="current_price"
                                name="current_price">
                                {{formatMoney details.GIA}}
                            </div>
                        </div>
                        {{#if (isDefinedVal details.GIAMUANGAY)}}
                        <div class="row my-4">
                            <div class="col-md-4 text-right">
                                Giá mua ngay (VNĐ):
                            </div>
                            <div class="text-left col-md-8" style="color:tomato;" id="current_price"
                                name="current_price">
                                {{formatMoney details.GIAMUANGAY}}
                            </div>
                        </div>
                        {{/if}}

                        <div class="row my-4">
                            <div class="col-md-4 text-right">
                                Tên người bán:
                            </div>
                            <div class="col-md-8 text-left" id="seller" name="seller">
                                <a href="/score/{{details.IDNGUOIBAN}}"> {{details.SELLER}} </a><span
                                    name="seller-score" id="seller-score">(Điểm:
                                    {{details.DIEMSELLER}})</span>
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-md-4 text-right">
                                Người ra giá cao nhất:
                            </div>
                            {{#if (isDefinedVal biddingHistory.0.tentaikhoan)}}
                            <div class="col-md-8 text-left" id="bidder" name="bidder">
                                {{biddingHistory.0.tentaikhoan}} <span name="bidder-score" id="bidder-score">(Điểm:
                                    {{biddingHistory.0.diemndg}})</span>
                            </div>
                            {{else}}
                            <div class="col-md-8 text-left" id="bidder" name="bidder">
                                Chưa có lượt đấu giá
                            </div>
                            {{/if}}
                        </div>
                        <div class="row my-4">
                            <div class="col-md-4 text-right">
                                Thời điểm đăng bán:
                            </div>
                            <div class="col-md-8 text-left" id="post_date" name="post_date">
                                {{formatDateTime details.NGAYDANG}}
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-md-4 text-right">
                                Thời điểm kết thúc:
                            </div>
                            <div class="col-md-8 text-left" id="exp_date" name="exp_date">
                                <div class="countdown">
                                    {{formatDateTime details.NGAYHETHAN}}
                                </div>
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-md-4 text-right">
                                Mô tả sản phẩm:
                            </div>
                            <div class="col-md-8">

                            </div>
                        </div>
                        <div class="my-3">
                            <div class="card-header rounded-lg text-left overflow-auto p-1"
                                style="border: 1px solid grey; height: 250px;">
                                {{{details.MOTADAI}}}
                            </div>
                            {{#if ownedByThisUser}}
                            <a class="text-info float-right" href="/productView/{{details.ID}}/appendDes">Thêm mô
                                tả
                                <i class="fa  fa-angle-right text-info" aria-hidden="true"></i></a>

                            {{/if}}
                        </div>

                        {{!-- userid {{isDefinedVal userId}}
                        luondcdaugia {{details.LUONDUOCDAUGIA}}
                        nhỏ hơn 8 : {{isLessThanOrEqual userScore.diem 8}} --}}

                        <!-- bid fields -->
                        {{#if (or ownedByThisUser (or isBanned (or (isPast details.NGAYHETHAN) (isDefinedVal details.ID_NG_THANG)))   )}}
                        {{!-- khóa đấu giá nếu thỏa --}}
                        {{#if isBanned}}
                        <div class="text-danger">Bạn không thể tiếp tục đấu giá sản phẩm này vì người bán đã từ chối
                            quyền của bạn</div>
                        {{/if}}
                        {{else}}
                        {{#if details.LUONDUOCDAUGIA}}
                        <div>
                            <form method="POST" id="frmain" onsubmit="return checkPrice({{details.GIA}})">

                                <div class="float-left col-md-4 text-right font-weight-bold" style="color:tomato;">
                                    Đặt giá của bạn:
                                </div>

                                <div class="dropdown bg-info">
                                    <input type="number" class="float-left col-md-5" id="price" name="price"
                                        onkeyup="check(this,{{details.GIAMUANGAY}}, {{details.BUOCGIA}})"
                                        step="{{details.BUOCGIA}}" min="{{details.GIA}}"
                                        placeholder="Bước giá: {{formatMoney details.BUOCGIA}}" />
                                </div>

                                <input type="checkbox" class="ml-3" name="auto" value="1"
                                    {{#if hasMaxBid}}checked{{/if}}> Tự động<br>

                                <div class="float-right mt-3 col-md-8 text-muted">
                                    Giá đề nghị:
                                    <span id="suggest" name="suggest"></span>
                                    <script>
                                        var x = {{ details.GIA }} + {{ details.BUOCGIA }};
                                        document.getElementById("suggest").innerHTML = x.toLocaleString() + ' VNĐ';
                                    </script>
                                </div>
                                {{#if hasMaxBid}}
                                <div class="float-right mt-3 col-md-8 text-muted">
                                    Tự động đặt tối giá:
                                    <span id="max" name="max"></span>
                                    <script>
                                        var x = {{ hasMaxBid }};
                                        document.getElementById("max").innerHTML = x.toLocaleString() + ' VNĐ';
                                    </script>
                                </div>
                                {{/if}}
                                <div class="clearfix"></div>
                                <div class="mt-4 text-center">
                                    <button type="submit" class="btn btn-danger">
                                        Xác nhận
                                    </button>
                                </div>
                            </form>
                        </div>
                        {{else}}
                        {{#if (isLessThanOrEqual userScore.diem 80)}}
                        <div><b class="text-danger">Bạn không đủ điểm để đấu giá sản phầm này</b></div>
                        {{else}}
                        <div>

                            <form method="POST" id="frmain" onsubmit="return checkPrice({{biddingHistory.0.gia}})">
                                <div class="float-left col-md-4 text-right font-weight-bold" style="color:tomato;">
                                    Đặt giá của bạn:
                                </div>

                                <div class="dropdown bg-info">
                                    <input type="number" class="float-left col-md-7" id="price" name="price"
                                        step="{{details.BUOCGIA}}"
                                        onkeyup="check(this,{{details.GIAMUANGAY}}, {{details.BUOCGIA}})"
                                        placeholder="Bước giá: {{formatMoney details.BUOCGIA}}" />
                                </div>

                                <input type="checkbox" class="ml-3" name="auto" value="1"
                                    {{#if hasMaxBid}}checked{{/if}}> Tự động<br>

                                <div class="float-right mt-3 col-md-8 text-muted">
                                    Giá đề nghị:
                                    <span id="suggest" name="suggest"></span>
                                    <script>
                                        var x = {{ details.GIA }} + {{ details.BUOCGIA }};
                                        alert
                                        document.getElementById("suggest").innerHTML = x.toLocaleString() + ' VNĐ';
                                    </script>
                                </div>

                                {{#if hasMaxBid}}
                                <div class="float-right mt-3 col-md-8 text-muted">
                                    Tự động đặt tối giá:
                                    <span id="max" name="max"></span>
                                    <script>
                                        var x = {{ hasMaxBid }};
                                        document.getElementById("max").innerHTML = x.toLocaleString() + ' VNĐ';
                                    </script>
                                </div>
                                {{/if}}

                                <div class="clearfix"></div>
                                <div class="mt-4 text-center">
                                    <button type="submit" class="btn btn-danger">
                                        Xác nhận
                                    </button>
                                </div>
                            </form>
                        </div>
                        {{/if}}
                        {{/if}}
                        {{/if}}

                        {{!-- lịch sử đấu giá --}}
                        <div class="mt-3">
                            <a href="#history" class="history_expand" data-toggle="collapse">Xem lịch sử đấu giá
                                <i class="fa fa-angle-double-down"></i></a>
                            <div name="history" id="history" class="collapse">
                                <table name="bidding_history" id="table" class="bidding_history mt-3 table-hover"
                                    align="center" border="1">
                                    <tr>
                                        <th scope="col">Thời điểm</th>
                                        <th scope="col">Người mua</th>
                                        <th scope="col">Giá</th>
                                        {{#if ownedByThisUser}}
                                        <th scope="col">Từ chối ra giá</th>
                                        {{/if}}
                                    </tr>
                                    {{#each this.biddingHistory}}
                                    <tr>
                                        <td>{{formatDateTime thoigian}}</td>
                                        <td id="{{id_ndg}}"><a href="/score/{{id_ndg}}"> {{tentaikhoan}}</a></td>
                                        <td>{{formatMoney gia}}</td>
                                        {{#if ../ownedByThisUser}}
                                        <td>
                                            <form method="POST"
                                                action="/productView/{{../details.ID}}/rejectBidding/{{id_ndg}}">
                                                <button type="submit" class="btn btn-primary"><i class="fa fa-trash-o"
                                                        aria-hidden="true"></i> Từ chối</button>
                                            </form>
                                            {{!-- <script>
                                                function reject(e) {
                                                    $.ajax({
                                                        type: 'POST',
                                                        data: {
                                                            id: {{../ details.ID }}
                                                userToRecject: { { id_ndg } }
                                                        },
                                                url: `/productView/rejectBidding`,
                                                    dataType: 'text',
                                                    });
                                                }
                                            </script> --}}
                                        </td>
                                        {{/if}}
                                    </tr>
                                    {{/each}}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center my-5">
            <h2>Các sản phẩm liên quan</h2>
            <div class="mx-auto my-auto">
                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
                    <div class="carousel-inner" role="listbox">
                        {{#each relationProduct}}
                        <div class="carousel-item {{#if @index}}  {{else}}active {{/if}}">
                            <div class="col-md-4">
                                <div class="card card-body">
                                    <img class="img-fluid" src="{{avatar}}">
                                    <h6>{{tensanpham}}</h6>
                                    <p>Giá: {{formatMoney gia}}</p>
                                    <h4 class="countdown">{{formatDateTime ngayhethan}}</h4>
                                    <p>Số lần đấu giá: {{#if solan}}
                                        {{solan}}
                                        {{else}}
                                        Chưa có lượt đấu giá nào
                                        {{/if}} </p>
                                    <p><a class="btn btn-lg btn-primary" href="/productView/{{id}}" role="button">Xem
                                            chi tiết</a></p>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <a class="left carousel-control-prev w-auto" href="#myCarousel" data-target="#myCarousel"
                        role="button" data-slide="prev">
                        <i class="carousel-control-prev-icon fa fa-chevron-left fa-2x" style="color: black;"
                            aria-hidden="true"></i>
                    </a>
                    <a class="right carousel-control-next w-auto" href="#myCarousel" data-target="#myCarousel"
                        role="button" data-slide="next">
                        <i class="carousel-control-next-icon fa fa-chevron-right fa-2x" style="color: black;"
                            aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>