<div class="row" id="body-row">
    <!--sidebar-->
    
    <div class="sidebar-container">
        <div class="sidebar-logo">
            Danh mục
        </div>
        <ul class="sidebar-navigation">
            {{#each catLV1}}
                <li class="header">{{TenLoai}}</li>
                {{#each ../catLV2}}
                    {{#if_eq ../ID IDLoaiCap1}}
                        <li><a href="/lists/category/{{ID}}"> {{TenLoai}} </a></li>
                    {{/if_eq}}
                {{/each}}
            {{/each}}
        </ul>
    </div>
    <!--Content-->
    <div class="offset-left col-9 p-0">
        <!--Product-->
        <div class="container">
            <!-- Page Heading -->
            {{#if empty}}
            <h1 class="my-4">Danh sách trống</h1>
            {{else}}
            <h1 class="my-4">{{this.pageTitle}}</h1>
            <div class="row">
                {{#each this.products}}
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Shop card -->
                        <div class="card h-100">
                            {{#if isNew}}
                            <div class="ribbon-wrapper">
                                <div class="ribbon">NEW</div>
                            </div>
                            {{/if}}
                            <div class="img-wrap">
                                {{#if ../isAuthenticated}}
                                <button class="asText bookmark" name="{{ID}}" value="{{isFavorite}}" onclick="favorite(this);">
                                    <i class="fa fa-bookmark fa-lg align-top {{#if isFavorite}}green-color{{/if}}" aria-hidden="true"></i></button>
                                <script>
                                    function favorite(e) {
                                        $.ajax({
                                            type: 'POST',
                                            data: {isFavorite: e.value, IDSanPham: e.name },
                                            url: '/changeFav',
                                            dataType: 'text',
                                        });
                                        e.value = 1 - e.value;
                                    }
                                </script>
                                {{/if}}
                                <a href="/productView/{{ID}}"><img class="img-fluid mx-auto d-block"
                                        src="{{MainImg}}" alt=""></a>
                            </div>
                            <div class="card-body d-flex flex-column justify-content-between">
                                <h4 class="card-title align-self-center ellipsis">
                                    <a href="/productView/{{ID}}">{{TenSanPham}}</a>
                                </h4>
                                <div>
                                    <span>Mua ngay:</span>
                                </div>
                                <div class="align-self-end">
                                    <span>{{formatMoney GiaMuaNgay}}</span>
                                </div>
                                <div>
                                    <span>Giá hiện tại: </span>
                                </div>
                                <div class="align-self-end">
                                    <span class="font-weight-bold">{{formatMoney Gia}}</span>
                                </div>
                                <span class="maskHalf d-flex justify-content-end hidden {{#if_eq IDNguoiDauGia ../authUser.ID}}green-color{{/if_eq}}">({{TenTaiKhoan}})</span>
                                <h3 class="mt-auto align-self-center hidden countdown">{{NgayHetHan}}</h3>
                                <div class="d-flex justify-content-between small">
                                    <span> {{SoLanDuocDauGia}} Lượt</span>
                                    <span>{{formatDate NgayDang}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
            {{/if}}
            <!-- /.row -->

            <!-- Pagination -->
            {{#if maxPages}}
            <ul class="pagination justify-content-center">
                <li class="page-item {{#if_eq page 1}}disabled{{/if_eq}}">
                    <a class="page-link" href="?page={{prev_value}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                {{#each page_numbers}}
                    {{#if_eq value ../page}}
                    <li class="page-item active" aria-current="page">
                    <a class="page-link" href="javascript:;">{{value}} <span class="sr-only">(current)</span></a>
                    </li>
                    {{else}}
                    <li class="page-item">
                    <a class="page-link" href="?page={{value}}">{{value}}</a>
                    </li>
                    {{/if_eq}}
                {{/each}}
                <li class="page-item {{#if_eq page maxPages}}disabled{{/if_eq}}">
                    <a class="page-link" href="?page={{next_value}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
            {{/if}}
        </div>
    </div>
</div>