<div class="row" id="body-row">
    <!--sidebar-->
    <div class="sidebar-container">
        <div class="sidebar-logo">
            Tìm kiếm
        </div>
        <ul class="sidebar-navigation">
            <form class="form-group" method="POST" novalidate="novalidate">
                <li class="header">Chọn danh mục</li>
                <li>
                    <select class="form-control" name="idLoai" id="exampleFormControlSelect1">
                        
                        <option value = "" {{#if_eq form.idLoai ""}}selected="selected"{{/if_eq}}>
                            Tất cả
                        </option>
                        {{#each catLV2}}
                        <option value = "{{ID}}" {{#if_eq ../form.idLoai ID}}selected="selected"{{/if_eq}}>
                            {{TenLoai}}
                        </option>
                        {{/each}}
                    </select>
                </li>
                <li class="header">Sắp xếp theo</li>
                <li>
                    <select class="form-control" name = "by" id="exampleFormControlSelect1">
                        <option value="SP.NgayDang" {{#if_eq form.by "SP.NgayDang"}}selected="selected"{{/if_eq}}>
                            Ngày đăng
                        </option>
                        <option value="SP.NgayHetHan" {{#if_eq form.by "SP.NgayHetHan"}}selected="selected"{{/if_eq}}>
                            Ngày hết hạn
                        </option>
                        <option value="SP.Gia" {{#if_eq form.by "SP.Gia"}}selected="selected"{{/if_eq}}>
                            Giá hiện tại
                        </option>
                        <option value="SP.SoLanDuocDauGia" {{#if_eq form.by "SP.SoLanDuocDauGia"}}selected="selected"{{/if_eq}}>
                            Số lần đấu giá
                        </option>
                    </select>
                </li>
                <li>
                    <select class="form-control" name = "order" id="exampleFormControlSelect1">
                        <option value="DESC" {{#if_eq form.order "DESC"}}selected="selected"{{/if_eq}}>
                            Giảm dần
                        </option>
                        <option value="ASC" {{#if_eq form.order "ASC"}}selected="selected"{{/if_eq}}>
                            Tăng dần
                        </option>
                    </select>
                </li>
                <li class="header">Từ khóa</li>
                <input type="text" id="search_input" name="key" class="form-control input-sm" value="{{form.key}}">
                <button type="submit" id="search_button" class="btn btn-danger btn-sm btn-block custom-btn" formaction="">
                    Search
                </button>
            </form>
        </ul>
    </div>
    <!--Content-->
    <div class="offset-left col-9 p-0">
        <!--Product-->
        <div class="container">
            <!-- Page Heading -->
            {{#if empty}}
            <h1 class="my-4">Không tìm thấy sản phẩm</h1>
            {{else}}
            <h1 class="my-4">{{this.pageTitle}}</h1>
            <div class="row">
                {{#each this.products}}
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Shop card -->
                        <div class="card h-100">
                            {{#if isNew}}
                            <div class="ribbon-wrapper">
                                <div class="ribbon">NEW</div>
                            </div>
                            {{/if}}
                            <div class="img-wrap">
                                {{#if ../isAuthenticated}}
                                <button class="asText bookmark" name="{{ID}}" value="{{isFavorite}}" onclick="mySubmit(this);">
                                    <i class="fa fa-bookmark fa-lg align-top {{#if isFavorite}}green-color{{/if}}" aria-hidden="true"></i></button>
                                <script>
                                    function mySubmit(e) {
                                        $.ajax({
                                            type: 'POST',
                                            data: {isFavorite: e.value, IDSanPham: e.name },
                                            url: '/changeFav',
                                            dataType: 'text',
                                        });
                                        e.value = 1 - e.value;
                                    }
                                </script>
                                {{/if}}
                                <a href="/productView/{{ID}}"><img class="img-fluid mx-auto d-block"
                                        src="{{MainImg}}" alt=""></a>
                            </div>
                            <div class="card-body d-flex flex-column justify-content-between">
                                <h4 class="card-title align-self-center ellipsis">
                                    <a href="/productView/{{ID}}">{{TenSanPham}}</a>
                                </h4>
                                <div>
                                    <span>Mua ngay:</span>
                                </div>
                                <div class="align-self-end">
                                    <span>{{formatMoney GiaMuaNgay}}</span>
                                </div>
                                <div>
                                    <span>Giá hiện tại: </span>
                                </div>
                                <div class="align-self-end">
                                    <span class="font-weight-bold">{{formatMoney Gia}}</span>
                                </div>
                                <span class="maskHalf d-flex justify-content-end {{#if_eq IDNguoiDauGia ../authUser.ID}}green-color{{/if_eq}}">({{HoTen}})</span>
                                <h3 class="mt-auto align-self-center">{{formatDate NgayHetHan}}</h3>
                                <div class="d-flex justify-content-between small">
                                    <span> {{SoLanDuocDauGia}} Lượt</span>
                                    <span>{{formatDate NgayDang}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
            {{/if}}
            <!-- /.row -->

            <!-- Pagination -->
            {{#if maxPages}}
            <ul class="pagination justify-content-center">
                <li class="page-item {{#if_eq page 1}}disabled{{/if_eq}}">
                    <a class="page-link" href="?page={{prev_value}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                {{#each page_numbers}}
                    {{#if_eq value ../page}}
                    <li class="page-item active" aria-current="page">
                    <a class="page-link" href="javascript:;">{{value}} <span class="sr-only">(current)</span></a>
                    </li>
                    {{else}}
                    <li class="page-item">
                    <a class="page-link" href="?page={{value}}">{{value}}</a>
                    </li>
                    {{/if_eq}}
                {{/each}}
                <li class="page-item {{#if_eq page maxPages}}disabled{{/if_eq}}">
                    <a class="page-link" href="?page={{next_value}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
            {{/if}}
        </div>
    </div>
</div>