<main class="main" role="main">
    <div class="container-fruid mb-3">
        <div class="d-flex wrapper">
            <!-- Sidebar -->
			<div class="bg-light border-right" id="sidebar-wrapper">
				<div class="list-group list-group-flush">
					<!-- Bao gồm việc sửa thông tin cá nhân -->
					<a href="/accountManagement" class="list-group-item list-group-item-action bg-light">
						Xem thông tin cá nhân
					</a>
					<a href="/yourPointAndDetail" class="list-group-item list-group-item-action bg-light">
						Xem điểm đánh giá và chi tiết
					</a>	
					
					{{#each this.info}}
					<a class="list-group-item list-group-item-action bg-light flex-column align-items-start"
						href="#submenu-watch" id="navbarDropdown" data-toggle="collapse" aria-haspopup="true" aria-expanded="false">
						Xem danh sách
						<i class="fa fa-caret-down" style="float: right;" aria-hidden="true"></i>
					</a>
					
					<!-- Submenu của Xem danh sách -->
					<div id="submenu-watch" class="collapse sidebar-submenu">
						<a href="Theo dõi.html" class="list-group-item list-group-item-action bg-light">
							<span class="menu-collapsed">Sản phẩm yêu thích</span>
						</a>
						<a href="Đang đấu giá.html" class="list-group-item list-group-item-action bg-light">
							<span class="menu-collapsed">Sản phẩm đang đấu giá</span>
						</a>
						<a href="Đã thắng.html" class="list-group-item list-group-item-action bg-light">
							<span class="menu-collapsed">Sản phẩm đã thắng đấu giá</span>
						</a>
						{{#if this.isSeller}}
						<a href="Đã đăng.html" class="list-group-item list-group-item-action bg-light">
							<span class="menu-collapsed">Sản phẩm đang đăng đấu giá</span>
						</a>
						<a href="Đã bán.html" class="list-group-item list-group-item-action bg-light">
							<span class="menu-collapsed">Sản phẩm có người thắng đấu giá</span>
						</a>
						{{/if}}
						{{#if this.isAdmin}}
						<a href="Đã đăng.html" class="list-group-item list-group-item-action bg-light">
							<span class="menu-collapsed">Sản phẩm đang đăng đấu giá</span>
						</a>
						<a href="Đã bán.html" class="list-group-item list-group-item-action bg-light">
							<span class="menu-collapsed">Sản phẩm có người thắng đấu giá</span>
						</a>
						{{/if}}
					</div>
					
					{{#if this.isAdmin}}
					<a class="list-group-item list-group-item-action bg-light flex-column align-items-start"
						href="#submenu-user" id="navbarDropdown" data-toggle="collapse" aria-haspopup="true" aria-expanded="false">
						Quản lý người dùng
						<i class="fa fa-caret-down" style="float: right;" aria-hidden="true"></i>
					</a>
					
					<!-- Submenu của Quản lý người dùng -->
					<div id="submenu-user" class="collapse sidebar-submenu">
						<a href="/userView" class="list-group-item list-group-item-action bg-light">
							<!-- Bao gồm việc xóa người dùng, nâng cấp bidder, hạ cấp seller-->
							<span class="menu-collapsed">Xem danh sách toàn bộ người dùng</span>
						</a>
						<a href="/bidderList" class="list-group-item list-group-item-action bg-light">
							<span class="menu-collapsed">Xem danh sách bidder xin nâng cấp tài khoản</span>
						</a>
					</div>
					
					<a class="list-group-item list-group-item-action bg-light flex-column align-items-start"
						href="#submenu-category" id="navbarDropdown" data-toggle="collapse" aria-haspopup="true" aria-expanded="false">
						Quản lý danh mục
						<i class="fa fa-caret-down" style="float: right;" aria-hidden="true"></i>
					</a>
					
					<!-- Submenu của Quản lý danh mục -->
					<div id="submenu-category" class="collapse sidebar-submenu">
						<a href="/categoryLv1" class="list-group-item list-group-item-action bg-light">
							<!-- Bao gồm việc xóa người dùng, nâng cấp bidder, hạ cấp seller-->
							<span class="menu-collapsed">Quản lý danh mục cha</span>
						</a>
						<a href="/categoryLv2" class="list-group-item list-group-item-action bg-light">
							<span class="menu-collapsed">Quản lý danh mục con</span>
						</a>
					</div>
					{{/if}}
					
					<!-- Đăng sản phẩm -->
					{{#if this.isSeller}}
					<a href="/postProduct" class="list-group-item list-group-item-action bg-light">
						Đăng sản phẩm đấu giá mới
					</a>
					{{/if}}
					{{#if this.isAdmin}}
					<a href="/postProduct" class="list-group-item list-group-item-action bg-light">
						Đăng sản phẩm đấu giá mới
					</a>
					{{/if}}
					{{/each}}
					<!-- Add more items here-->
				</div>
			</div>
			<!-- /#sidebar-wrapper -->

            <div class="text-center mt-3" id="page-content-wrapper">
                <h1>Điểm đánh giá và chi tiết</h1>
                <div>Xem điểm đánh giá và chi tiết các lần được đánh giá & đoạn nhận xét mà người đánh giá gửi</div>

                <div class="card m-3">
                    <h2 class="card-header">Điểm đánh giá</h2>
                    <div class="card-body">
                        <h3>
						{{#each this.point}}
						{{TongDiemDanhGia}}%
						{{/each}}
						</h3>
                    </div>
                </div>

                <div class="card m-3">
                    <h2 class="card-header">Chi tiết các lần được đánh giá</h2>
					{{#if this.empty}}
					<div class="card-body">
						<p class="card-text">Không có dữ liệu.</p>
					</div>
					{{else}}
                    <div class="card-body">
                        <table class="table table-hover text-left">
                            <thead>
                                <tr>
                                    <th style="width: 5%;" scope="col">ID</th>
                                    <th style="word-break: break-all; width: 10%;" scope="col">Người đánh giá</th>
                                    <th style="text-align: center; width: 10%;" scope="col">Điểm đánh giá</th>
                                    <th scope="col">Nhận xét</th>
                                </tr>
                            </thead>
                            <tbody>
								{{#each this.details}}
                                <tr>
                                    <th style="width: 5%;" scope="row">{{IDNguoiDanhGia}}</th>
                                    <td class="maskHalf hidden" style="word-break: break-all; width: 20%;">{{TenTaiKhoan}}</td>
                                    <td style="text-align: center; width: 5%;">       
										{{#if_eq DiemDanhGia 1}}                
										<i id="{{ID}}_down" class="fa fa-thumbs-up mx-2 green-color"></i>
										{{else}}
										<i id="{{ID}}_down" class="fa fa-thumbs-down mx-2 red-color"></i>
										{{/if_eq}}
                                    <td style="word-break: break-all;">{{NhanXet}}</td>
                                </tr>
								{{/each}}
                            </tbody>
                        </table>
                    </div>
					{{/if}}
                </div>
            </div>
        </div>
    </div>
</main>